
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style:solid ;
    border-bottom-color:rgb(228, 224, 224) ;
    z-index: 100;

}
.left-section{
    
    
    display: flex;
    align-items: center;

}
.hamburger-menu{

    height: 23px;
    margin-left: 25px;
    margin-right: 25px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    
    flex:1;
    margin-left: 150px;
    margin-right:15px;
    max-width: 500px;
    display: flex;
    align-items: center;
    min-width: 80px;
    
    
}
.search-bar{
    flex:1;
    height: 35px;
    border-style: solid;
    border-color: rgb(213, 212, 212);
    border-radius: 25px;
    font-size: 16px;
    box-shadow:inset 1px 1px 3px rgba(0,0,0,0.05) ;
    border-width: 1p;
    width: 0;
    

}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    padding-left: 10px;
    color: rgb(137, 135, 135);
}

.search-button{
    height: 40px;
    width: 60px;
    margin-left: -15px;
    border-width: 1px;
    background-color: rgb(246, 244, 244);
    border-style: solid;
    border-color: rgb(213, 212, 212);
    margin-right: 8px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
}
.search-button,
.voice-search-button,
.create-icon-container,
.youtube-apps-container,
.notification-button{
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}


.create-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notification-button .tooltip{
    position: absolute;
    background-color: gray;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    bottom: -38px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

}
.search-button .tooltip,
.voice-search-button .tooltip
{
    position: absolute;
    background-color: gray;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.create-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notification-button:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height: 25px;
    margin-top: 3px;

}
.voice-search-button{
    height: 40px;
    width: 40px;
    background-color:rgba(244, 240, 240, 0.467);
    border-radius: 20px;
    border: none;
}
.voice-icon{
    height: 25px;
    
}
.right-section{
    
    width: 190px;
    margin-right: 22px;
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    
}

.create-icon{
    height: 24px;
}

.youtube-app-icon{
    
    

    
    height: 24px;
}


.notification-icon{
    
    
    
    height: 24px;
    
}
.notification-button{
    
    position: relative;
}
.notification-count-icon{
    position: absolute;
    font-size: 12px;
    font-style: Roboto,Arial;
    font-weight: 700;
    background-color: rgb(180, 6, 6);
    left: 12px;
    
    
    bottom: 9px;
    
   
    border-color: white;
    
   border-width: 1px;
   border-radius: 20px;
    
    border-color:black;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    
}

.account-icon{
    
    margin-right: 8px;
    
    height: 34px;
    border-radius: 80px;
    
    
   
    
    
}